[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sreu
[access "refs/for/refs/*"]
	read = group user/sreu
	push = group user/sreu
	label-Code-Review = -2..+2 group user/sreu
	label-Verified = -1..+1 group user/sreu
	rebase = group user/sreu
	removeReviewer = group user/sreu
	submit = group user/sreu
[access "refs/heads/*"]
	read = group user/sreu
	create = group user/sreu
	push = +force group user/sreu
	pushMerge = group user/sreu
[access "refs/tags/*"]
	push = +force group user/sreu
	pushTag = group user/sreu
	pushSignedTag = group user/sreu
